<html>
<head>
         <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
         <link rel="stylesheet" href="static/css/estilosPrincipal.css" type="text/css">
         <script language="javascript" type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
</head>
<body id="Cuerpo"> 

    
    

<div id="Cabecera">
        {% block cabecera %}
        
        {% endblock %}
    
</div>



<div id="BarraIzquierda">
        {% block menu %}
            
        {% endblock %}
</div>


<div id="Contenedor">        
        {% block contenedor %}
            
        {% endblock %}
</div>
       
</body>

<html>