{% extends "base.html" %}


{% block cabecera %}
    Carga de Stock
    <script language="javascript" type="text/javascript" src="/static/js/cargarStock.js"></script>
        
{% endblock %}


{% block mensaje %}
    <div class="{{estado}}">
        {{mensaje}}
    </div>
{% endblock %}


{% block contenedor %}

<div id="modalPropio" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button onClick="volver()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Cargar Stock</h3>
    </div>
    
    <div class="modal-body">
    <form method="POST" action="" onSubmit="return validarDisponibles(disponible.value)">
                            <input id="pkProducto" name="pkProducto" value = "{{producto.pk}}" type="hidden">
                                <div align="center">
                                    Disponible
                                    <input id="disponible" name="disponible" style="height:27px;margin-left:10px;" type="text" placeholder="Disponibles"><br>
                                    Dep&oacutesito
                                    <select id="deposito" name="deposito">
                                        {% for deposito in depositos %}
	      		              	           	<option value="{{deposito.pk}}">{{deposito.getDireccion}}</option>
            		    		        {% endfor %}
                                    </select>
                                </div>
                        
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Guardar" >
    </form>        
        <button class="btn" data-dismiss="modal" aria-hidden="true" onClick="volver()">Cancelar</button>
    </div>

    
</div>
    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input type="text" class="search-query" style="height:27px" placeholder="Nombre o Descripción" onKeyUp='buscar(this.value,"tablaProductos");' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr>
                    <th style="display:none" >pk</th>
                    <th class="table-head" id="CargaStock-Nombre">Producto</th>
                    <th class="table-head" id="CargaStock-Titulo-Descripcion">Descripci&oacuten</th>
                    <th class="table-head" id="CargaStock-TipoProducto">T.Producto</th>
                    <!--<th class="table-head" id="CargaStock-Categoria">Categoria</th>-->
                    <th class="table-head" id="CargaStock-Titulo-Cantidad">Cant.</th>
                    <th class="table-head" id="CargaStock-Precio">$</th>
                    <th class="table-head" id="CargaStock-Cargar">Cargar</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaProductos" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for producto in productos %}

            <tr>        
                <td id="CargaStock-Nombre">{{producto.nombre}}</td>
                <td id="CargaStock-Descripcion">{{producto.descripcion}}</td>
                <td id="CargaStock-TipoProducto">{{producto.tipoProducto}}</td>
                <!-- <td id="CargaStock-Categoria">como se vende</td> -->
                <td id="CargaStock-Cantidad">{{producto.cantidad}}</td>
                <td id="CargaStock-Precio">{{producto.precio}}</td>
                <td id="CargaStock-Cargar"><button onClick="popPropio('{{producto.pk}}')" class="btn btn-success" data-toggle="modal">
                    <i class="icon-plus icon-white"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <div id="paraFondo"></div>
</table>

{% endblock %}