{% extends "base.html" %}


{% block cabecera %}
    Carga de Stock
    <script language="javascript" type="text/javascript" src="/static/js/cargarStock.js"></script>
        
{% endblock %}


{% block mensaje %}
    <div class="{{estado}}">
        {{mensaje}}
    </div>
{% endblock %}


{% block contenedor %}

<div id="modalPropio" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button onClick="volver()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Cargar Stock</h3>
    </div>
    
    <div class="modal-body">
    <form method="POST" action="" onSubmit="return validarDisponibles(disponible.value)">
                            <input id="pkProducto" name="pkProducto" value = "{{producto.pk}}" type="hidden">
                                <div align="center">
                                    Disponible
                                    <input id="disponible" name="disponible" style="height:27px;margin-left:10px;" type="text" placeholder="Disponibles"><br>
                                    Dep&oacutesito
                                    <select id="deposito" name="deposito">
                                        {% for deposito in depositos %}
	      		              	           	<option value="{{deposito.pk}}">{{deposito.direccion}}</option>
            		    		        {% endfor %}
                                    </select>
                                </div>
                        
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Guardar" >
    </form>        
        <button class="btn" data-dismiss="modal" aria-hidden="true" onClick="volver()">Cancelar</button>
    </div>

    
</div>
    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input type="text" class="search-query" style="height:27px" placeholder="Nombre o Descripción" onKeyUp='validarTexto(this.value);' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr>
                    <th style="display:none" >pk</th>
                    <th class="table-head">Producto</th>
                    <th class="table-head">Descripci&oacuten</th>
                    <th class="table-head">T.Producto</th>
                    <th class="table-head">Categoria</th>
                    <th class="table-head">Cantidad</th>
                    <th class="table-head">Precio</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaDeposito" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for producto in productos %}

            <tr>        
                <td>{{producto.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.tipoProducto}}</td>
                <td>como se vende</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.precio}}</td>
                <td><button onClick="popPropio('{{producto.pk}}')" class="btn btn-success" data-toggle="modal"><b>+</b></button></td>
                </tr>
        {% endfor %}
    </tbody>
    <div id="paraFondo"></div>
</table>

{% endblock %}