{% extends "base.html" %}

{% block cabecera %}

Menu Principal
    
{% endblock %}



{% block menu %}
    
{% endblock %}



{% block contenedor %}
<div class="ContenedorPP">
	<h1>Algunos Consejos!</h1>
		<h4>PopUps</h4>
	<p>Recuerda que debes tener habilitados los PopUps para obtener una experiencia &oacuteptima
	con el sistema</p>
	<h4>Shortcuts</h4>
	<p>Si no te gusta andar clickeando mucho para avanzar, siempre puedes usar los Shorcuts
		disponibles:
		Crtl+Shift+c = Seccion Cobro.
		Crtl+Shift+d = Seccion Listado de Depositos
		Crtl+Shift+e = Seccion Entrega de Materiales
		Crtl+Shift+p = Seccion Listado de Productos
	</p>
	<div class="Bienvenida capita">	</div>

</div>

{% endblock %}