{% extends "base.html" %}

{% block cabecera %}

Menu Principal
    
{% endblock %}



{% block menu %}
    
{% endblock %}



{% block contenedor %}
<div class="ContenedorPP">
	<h1>Algunos Consejos!</h1>
		<h4>PopUps</h4>
	<p>Recuerda que debes tener habilitados los PopUps para obtener una experiencia &oacuteptima
	con el sistema</p>
	<h4>Shortcuts</h4>
	<p>Si no te gusta andar clickeando para navegar, puedes usar los Shorcuts <br>
		disponibles:<br>
		Crtl+Shift+c = Seccion Cobro.<br>
		Crtl+Shift+d = Seccion Listado de Depositos		<br>
		Crtl+Shift+e = Seccion Entrega de Materiales	<br>
		Crtl+Shift+p = Seccion Listado de Productos		<br>
	</p>
	<div class="Bienvenida capita">	</div>

</div>

{% endblock %}