{% extends "base.html" %}

{% block cabecera %}
    Venta Productos
    <script language="javascript" type="text/javascript" src="/static/js/venta.js"></script>
{% endblock %}

{% block contenedor %}
    <div id="CabeceraNotaVenta">
        <form class="well" method="POST" onSubmit="return validaVenta()">
            <input id="apellidoPersona" name="apellidoPersona" type="text" class="span3" placeholder="Apellido Cliente">  
            <input id="nombrePersona" name="nombrePersona" type="text" class="span3" placeholder="Nombre Cliente">  <br>
            <input id="productos" name="productos" type="hidden">
            <button type="submit" class="btn">Generar Nota Venta</button>  
        </form> 

    </div>
    
    <div id="CabeceraNVTablas">
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" style="height:27px;margin-left:10px;" placeholder="Producto o Descripción" onKeyUp="buscar(this.value,'Disponibles')" ><br><br>
        </form>
            <table class="table table-striped">
                <thead>
                <tr><th class="table-head">Producto</th>
                    <th class="table-head">Descripci&oacuten</th>
                    <th class="table-head">Cantidad</th>
                    <th class="table-head">Precio</th>
                </tr>    
                </thead>
            </table>
</div>
    
    <div id="CabeceraNVTablas">
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" style="height:27px;margin-left:10px;" placeholder="Producto o Descripción" onKeyUp="buscar(this.value,'Comprometidos')"> <br><br>
        </form>
        <table class="table table-striped">
            <thead>
                <tr><th class="table-headVenta">Producto</th>
                    <th class="table-headVenta">Descripci&oacuten</th>
                    <th class="table-headVenta">Cantidad</th>
                    <th class="table-headVenta">P/Unitario</th>
                    <th class="table-headVenta">Total</th>
                </tr>    
            </thead>
        </table>
    </div>
    
    <div id="SubContenedor">
        <table id="Disponibles" class="table table-striped" border="0" cellspacing="5" cellpadding="5">
            <tbody>
                {% for producto in productos %}
                    <tr onclick="agregarProducto(this);">
                        <td id="tabla-Nombre">{{producto.nombre}}</td>
                        <td id="tabla-Descripcion">{{producto.descripcion}}</td>
                        <td id="{{producto.pk}}">{{producto.cantidad}}</td>
                        <td id="tabla-Precio">{{producto.precio}}</td>
                        <td class="Oculto">{{producto.pk}}</td>
                    </tr>                    
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    
    <div id="SubContenedor" style="OVERFLOW: auto">
           <table id="Comprometidos" class="table table-striped" border="0" cellspacing="5" cellpadding="5">
            <tbody>
            </tbody>
            
        </table>
    </div>
{% endblock %}