{% extends "base.html" %}

{% block cabecera %}
    Venta Productos
    <script language="javascript" type="text/javascript" src="/static/js/venta.js"></script>
{% endblock %}

{% block mensaje %}
<div id="mensaje" class="{{estado}}">{{mensaje}}</div>
    <script type="text/javascript">verificarCarga();</script>
{% endblock %}



{% block contenedor %}
    <div id="CabeceraNotaVenta">
        <form class="well" method="POST" onSubmit="return validaVenta()">
            <input id="apellidoPersona" name="apellidoPersona" type="text" class="span3" placeholder="Apellido Cliente">  
            <input id="nombrePersona" name="nombrePersona" type="text" class="span3" placeholder="Nombre Cliente">  
            <br>
            <input id="productos" name="productos" type="hidden">
            <button type="submit" class="btn">Generar Nota Venta</button>
            <div  id="cartelTotal">
                <label class="span3">TOTAL:</label>
                <label id="total" class="span3" name="total">0</label>
            </div>
        </form> 

    </div>
    
    <div id="CabeceraNVTablas">
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" style="height:27px;margin-left:10px;" placeholder="Producto o Descripción" onKeyUp="buscar(this.value,'Disponibles')" ><br><br>
        </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th id="ventaProducto-Nombre" class="table-head">Producto</th>
                    <th id="ventaProducto-Descripcion" class="table-head">Descripci&oacuten</th>
                    <th id="ventaProducto-Medida" class="table-head">Med</th>
                    <th id="ventaProducto-Cantidad" class="table-head">Cant</th>
                    <th id="ventaProducto-Precio" class="table-head"> $ </th>
                </tr>    
                </thead>
            </table>
</div>
    
    <div id="CabeceraNVTablas">
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" style="height:27px;margin-left:10px;" placeholder="Producto o Descripción" onKeyUp="buscar(this.value,'Comprometidos')"> <br><br>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th id="ventaProducto-Nombre2" class="table-headVenta">Producto</th>
                    <th id="ventaProducto-Descripcion2" class="table-headVenta">Descripci&oacuten</th>
                    <th id="ventaProducto-Medida2" class="table-headVenta">Med</th>
                    <th id="ventaProducto-Cantidad2" class="table-headVenta">Cant</th>
                    <th id="ventaProducto-Precio2"class="table-headVenta">P/Unit</th>
                    <th id="ventaProducto-Total" class="table-headVenta">Total</th>
                </tr>    
            </thead>
        </table>
    </div>
    
    <div id="SubContenedor">
        <table id="Disponibles" class="table table-striped" border="0" cellspacing="5" cellpadding="5">
            <tbody>
                {% for producto in productos %}
                    <tr onclick="agregarProducto(this);" id="p{{producto.pk}}">
                        <td id="tabla-Nombre">{{producto.getNombre}}</td>
                        <td id="tabla-Descripcion">{{producto.getDescripcion}}</td>
                        <td id="tabla-Medida">{{producto.obtenerEstrategiaDeVenta.getMedida}}</td>
                        <td id="{{producto.pk}}">{{producto.getCantidad}}</td>
                        <td id="tabla-Precio">{{producto.getPrecio}}</td>
                        <td class="Oculto">{{producto.pk}}</td>
                        <td class="Oculto">{{producto.esFraccionable}}</td>
                        <td class="Oculto">{{producto.obtenerEstrategiaDeVenta.getMinimo}}</td>
                    </tr>                    
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    
    <div id="SubContenedor" style="OVERFLOW: auto">
           <table id="Comprometidos" class="table table-striped" border="0" cellspacing="5" cellpadding="5">
            <tbody>
            </tbody>
            
        </table>
    </div>

    <script type="text/javascript">actualizarTotal();</script>
{% endblock %}