{% extends "base.html" %}


{% block cabecera %}
    Baja Depósitos
    <script language="javascript" type="text/javascript" src="/static/js/deposito.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>
        
{% endblock %}


{% block mensaje %}
    <div id="mensajes" class="{{estado}}"s>
        {{mensaje}}
    </div>
{% endblock %}


{% block contenedor %}

    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input type="text" class="search-query" style="height:27px" placeholder="Dirección o Telefono" onKeyUp='validarTexto(this.value);' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr><th id="BajaDeposito-Titulo-Direccion" class="table-head">Direcci&oacuten</th>
                    <th id="BajaDeposito-Titulo-Rubro" class="table-head">Rubro</th>
                    <th id="BajaDeposito-Titulo-Telefono" class="table-head">Telefono</th>
                    <th id="BajaDeposito-Titulo-Accion" class="table-head">Eliminar</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaDeposito" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for deposito in depositos %}

            <tr> 
                <td id="BajaDeposito-Direccion">{{deposito.getDireccion}} </td>
                <td id="BajaDeposito-Rubro">{{deposito.getRubro}} </td>
                <td id="BajaDeposito-Telefono">{{deposito.getTelefono}}</td>  
                <td id="BajaDeposito-Accion"> <button class="btn btn-danger" onClick="bajaDeposito('{{deposito.pk}}')" type="submit"> <i class="icon-trash icon-white"></i> Eliminar </button> 
                </td> 
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}