{% extends "base.html" %}


{% block cabecera %}
    Listado de Depósitos
    <script language="javascript" type="text/javascript" src="/static/js/deposito.js"></script>
        
{% endblock %}


{% block mensaje %}
<button onClick="imprimirPDF()" class="btn btn-success" data-toggle="modal"><i class="icon-print icon-white"></i> Imprimir PDF </button></td>
<script type="text/javascript">limpiarCampo();</script>
{% endblock %}

{% block contenedor %}

    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input id="filtro" type="text" class="search-query" style="height:27px" placeholder="Dirección o Telefono" onKeyUp='buscar(this.value,"tablaDeposito")' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr><th id="Deposito-Titulo-Direccion" class="table-head">Direcci&oacuten</th>
                    <th id="Deposito-Titulo-Rubro" class="table-head">Rubro</th>
                    <th id="Deposito-Titulo-Telefono" class="table-head">Telefono</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaDeposito" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for deposito in depositos %}

            <tr>
                <td id="Deposito-Direccion">{{deposito.getDireccion}}</td>
                <td id="Deposito-Rubro">{{deposito.getRubro}}</td>
                <td id="Deposito-Telefono">{{deposito.getTelefono}}</td>
                <td style="display:none" id="Deposito-Pk">{{deposito.pk}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}