{% extends "base.html" %}


{% block cabecera %}
    Listado de Depósitos
    <script language="javascript" type="text/javascript" src="/static/js/deposito.js"></script>
        
{% endblock %}


{% block contenedor %}

    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input type="text" class="search-query" style="height:27px" placeholder="Dirección o Telefono" onKeyUp='validarTexto(this.value);' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr><th id="Deposito-Titulo-Direccion" class="table-head">Direcci&oacuten</th>
                    <th id="Deposito-Titulo-Rubro" class="table-head">Rubro</th>
                    <th id="Deposito-Titulo-Telefono" class="table-head">Telefono</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaDeposito" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for deposito in depositos %}

            <tr>
                <td id="Deposito-Direccion">{{deposito.direccion}}</td>
                <td id="Deposito-Rubro">{{deposito.rubro}}</td>
                <td id="Deposito-Telefono">{{deposito.telefono}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}