{% extends "base.html" %}


{% block cabecera %}
    Modificar Deposito
    <script language="javascript" type="text/javascript" src="/static/js/deposito.js"></script>
        
{% endblock %}


{% block mensaje %}
    <div class="{{estado}}">
        {{mensaje}}
    </div>
{% endblock %}


{% block contenedor %}

<div id="modalPropio" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button onClick="volver()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modificar Deposito</h3>
    </div>
    
    <div class="modal-body">
    <form method="POST" action="" onSubmit="return validaDeposito(this)">
                            <input id="pkDeposito" name="pkDeposito" value = "{{deposito.pk}}" type="hidden">
                                <div align="center">
                                    Direccion
                                    <input id="direccionDeposito" name="direccionDeposito" style="height:27px;margin-left:10px;" type="text" placeholder="Direccion"><br>
                                    <div style="margin-left:20px;">Rubro
                                    <select id="rubroDeposito" name="rubroDeposito" style="margin-left:20px;" >
                                        {% for rubro in rubros %}
	      		              	           	<option value="{{rubro.pk}}">{{rubro.nombre}}</option>
            		    		        {% endfor %}
                    </select></div>
                                
                                    Telefono
                                    <input id="telefonoDeposito" name="telefonoDeposito" style="height:27px;margin-left:10px;" type="text" placeholder="Telefono"><br>
                                </div>
                        
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Guardar" >
    </form>        
        <button class="btn" data-dismiss="modal" aria-hidden="true" onClick="volver()">Cancelar</button>
    </div>

    
</div>
    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input type="text" class="search-query" style="height:27px" placeholder="Nombre o Descripción" onKeyUp='buscar(this.value,"tablaDeposito");' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr>
                    <th style="display:none" >pk</th>
                    <th class="table-head" id="modificarDeposito-Titulo-direccion">Direccion</th>
                    <th class="table-head" id="modificarDeposito-Titulo-rubro">Rubro</th>
                    <th class="table-head" id="modificarDeposito-Titulo-telefono">Telefono</th>
                    <th class="table-head" id="modificarDeposito-Titulo-modificar">Modificar</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaDeposito" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for deposito in depositos %}

            <tr>        
                <td id="modificarDeposito-direccion">{{deposito.direccion}}</td>
                <td id="modificarDeposito-rubro">{{deposito.rubro}}</td>
                <td id="modificarDeposito-telefono">{{deposito.telefono}}</td>
                <td id="modificarDeposito-modficiar"><button onClick="popPropio('{{deposito.pk}}','{{deposito.direccion}}','{{deposito.rubro.pk}}','{{deposito.telefono}}')" class="btn btn-success" data-toggle="modal">
                    <i class="icon-plus icon-white"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <div id="paraFondo"></div>
</table>

{% endblock %}