#Cuerpo{
    background-color: #333;
    padding-top: 30px;    
    }
#CuerpoLogin{
    background-color: #333;
    }

#Cabecera{
        border-radius: 15px;
        font:40px italic arial;
        height: 150px;
        width: 90%;
        background-color:#6699FF;
        margin-top:20px;
        margin-left:55px;
        text-align:center;
        vertical-align:text-center;
        background-image:url(/static/img/Logo.png);
        background-repeat:no-repeat;
        position:top-left;
}


#CabeceraFija{
    float:auto;
}

#tamNroRemito{
    width:15%;
}

#TamNroNota{
    width:15%;
}

#Disponibles{
    font-size:14px;
}

    
#BarraMensaje{
        width:90%;
        height:50px;
        background-color:#333;
        margin-top:10px;
        margin-left:55px;
        -moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
    }
    
#Contenedor{
        float:left;
        width:90%;
        height:500px;
        background-color:#444;
        border-radius:20px;
        margin-left:55px;
    }

.Contenedor {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.Contenedor:before,
.Contenedor:after {
  display: table;
  line-height: 0;
  content: "";
}

.Contenedor:after {
  clear: both;
}
    
#ContenedorTabla{
        width:100%;
        height:470px;
        overflow:auto;
        border-radius:0px 0px 20px 20px;
    }
    
#CabeceraNotaVenta{
        width:96%;
        height:95px;
        margin-left:20px;
        margin-top:20px;
        background-color:#F5F5F5;
        border-radius:15px;
}

#CabeceraNVTablas{
        border-radius:15px 15px 0px 0px;
        vertical-align:bottom;
        margin-top:20px;
        margin-left:20px;
        float:left;
        width:47%;
        height:80px;
        background-color:#777;
    }


#CabeceraLDTablas{
        border-radius:20px 20px 0px 0px;
        vertical-align:bottom;
        width:100%;
        height:75;
        background-color:#777;
    }

#SubContenedor{
        float:left;
        width:47%;
        height:220px;
        margin-top:8px;
        margin-left:20px;
        background-color:#777;
        overflow:auto;
    }

.form-horizontal .control-label {
  width:350px;
    }

.form-horizontal .controls{
        margin-left:400px;    
    }


.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
  color: #ADD8E6;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #ADD8E6;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}


table {
	width: 100%;
	border: 1px solid #333;
	text-align: left; }
th {
	font-weight: bold;
	background-color: #acf;
	border-bottom: 1px solid #cef; }
td,th {
	padding: 4px 5px; }
	

.form-signin {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

form {
    margin: 0 0 20px;
}

.table-head {
    background-color: #3366FF;    
    width:50%;
}


#tabla-Nombre{
    width:30%;
}

#tabla-Descripcion{
    width:40%;
}

#tabla-Precio{
    text-align:right;
}

#CabeceraNota{
    width:36%;    
}

#CargaStock-Nombre{
    width:18%;    
}

#CargaStock-Descripcion{
    width:29%;    
}

#CargaStock-TipoProducto{
    width:24%;    
}

#CargaStock-Categoria{
    width:16%;    
}

#CargaStock-Cantidad{
    width:6%;

}

#CargaStock-Precio{
    width:10%;
}

#CargaStock-Cargar{
    text-align:center;
}


#CabeceraNota{
    width:36%;    
}


.table-headVenta {
    background-color: burlywood;    
}

.Oculto{
    display:none;
}

.modal{
    margin: -100px 0 0 -280px;    
}