#Cuerpo{
    background-color: #333;
    }

#Cabecera{
        border-radius: 15px;
        font:22px italic arial;
        height: 150px;
        width: 90%;
        background-color:#6699FF;
        margin-left:55px;
    }
    
#BarraIzquierda{
        width:17%;
        height:500px;
        float:left;        
        background-color:#6699FF;
        border-radius:20px;
        margin-top:20px;
        margin-left:55px;
    }
    
#Contenedor{
    
        float:left;
        width:71%;
        height:500px;
        margin-left:20px;
        margin-top:20px;
        background-color:#444;
        border-radius:20px;
        
    }