{% extends "base.html" %}



{% block cabecera %}
    <script language="javascript" type="text/javascript" src="/static/js/producto.js"></script>
    Alta de Productos    
{% endblock %}

{% block mensaje %}
    <div class="{{estado}}">
        {{mensaje}}
    </div>
{% endblock %}

{% block contenedor %}
<div class="container">

        <form class="form-horizontal" method="POST" action="" onSubmit="return validaProducto(this);">  
    
          <fieldset>
            <legend>Complete los siguientes campos</legend>
            <div class="control-group">  
                <label class="control-label" for="input01"> Nombre </label>
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="nombreProducto" name="nombreProducto" placeholder="Nombre">  
                </div>  
            </div >
    
            <div class="control-group">  
                <label class="control-label" for="input01"> Descripción </label>
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="descripcionProducto" name="descripcionProducto" placeholder="Descripción">  
                </div>  
            </div >

    
              <div class="control-group">  
                <label class="control-label" for="select01"> tipoProducto </label>
                <div class="controls">
                  <select id="tipoProducto" name="tipoProducto">
                    {% for tipo in tipoProductos %}
    						<option value="{{tipo.pk}}">{{tipo}}</option>
    					    <p>{{tipo.getNombre}},{{tipo.pk}}</p>
    				{% endfor %}
                  </select>  
                </div>  
              </div>  
              <div class="control-group">  
                <label class="control-label" for="input01">Precio</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="precioProducto" name="precioProducto" placeholder="Precio">  
                </div>

                <label class="control-label" for="input01">Fraccionable</label>  
                <div  class="nuevoCheck">
                  <input id="fraccionable" type="checkbox" onClick="mostrarDatosFraccionable()" name="fraccionable">
                </div>

              <div id="datosFraccionable" style="display:none">
                <label class="control-label" for="input01">Medida Standar</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="medidaProducto" name="medidaProducto" placeholder="Medida standar">  
                </div>
                <label class="control-label" for="input01">Medida M&iacutenima</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="medidaMinimaProducto" name="medidaMinimaProducto" placeholder="Medida mínima">  
                </div>

              </div>

              </div>



        <div align="center">
                <button type="submit" class="btn btn-primary">Guardar</button>          
        </div>
            </fieldset>  
    </form>
</div>
{% endblock %}