{% extends "base.html" %}

{% block ayuda %}
  ayudaBajaPDF()
{% endblock %}

{% block cabecera %}
    Baja Producto
    <script language="javascript" type="text/javascript" src="/static/js/producto.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>
        
{% endblock %}


{% block mensaje %}
    <div id="mensajes" class="{{estado}}"s>
        {{mensaje}}
    </div>
{% endblock %}


{% block contenedor %}

    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input type="text" class="search-query" style="height:27px" placeholder="Dirección o Telefono" onKeyUp='validarTexto(this.value);' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr><th style="display:none" >pk</th>
                    <th class="table-head" id="Producto-Titulo-Nombre">Producto</th>
                    <th class="table-head" id="Producto-Titulo-Descripcion">Descripci&oacuten</th>
                    <th class="table-head" id="Producto-Titulo-TipoProducto">T.Producto</th>
                    <th class="table-head" id="Producto-Titulo-Cantidad">Cant.</th>
                    <!--
                    <th class="table-head" id="Producto-Titulo-MedidaMinima">Medida Minima</th>
                    <th class="table-head" id="Producto-Titulo-Medida">Medida</th>-->


                    <th class="table-head" id="Producto-Titulo-Precio">$</th>
                    <th class="table-head" id="Producto-Titulo-Cargar">Eliminar</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaProducto" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
<tbody>
    {% for producto in productos %}

        <tr>        
            <td id="Producto-Nombre">{{producto.getNombre}}</td>
            <td id="Producto-Descripcion">{{producto.getDescripcion}}</td>
            <td id="Producto-TipoProducto">{{producto.getTipoProducto}}</td>
            <!---------------------------------------------
            <td id="Producto-Minima">{{producto.obtenerEstrategiaDeVenta.getMinimo}}</td>
            <td id="Producto-Medida">{{producto.obtenerEstrategiaDeVenta.getMedida}}</td>
            <!--------------------------------------------- -->
            <td id="Producto-Cantidad">{{producto.getCantidad}}</td>
            <td id="Producto-Precio">{{producto.getPrecio}}</td>
            <td id="Producto-Cargar"> <button class="btn btn-danger" onClick="bajaProducto('{{producto.pk}}')" type="submit"> <i class="icon-trash icon-white"></i> Eliminar </button> 
            </td>
    </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}