{% extends "base.html" %}


{% block cabecera %}
    Listado de Productos
    <script language="javascript" type="text/javascript" src="/static/js/producto.js"></script>
        
{% endblock %}

{% block mensaje %}
<button onClick="imprimirPDF()" class="btn btn-success" data-toggle="modal"><i class="icon-print icon-white"></i> Imprimir PDF </button></td>

{% endblock %}


{% block contenedor %}

    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input id="filtro" type="text" class="search-query" style="height:27px" placeholder="Dirección o Telefono" onKeyUp='buscar(this.value,"tablaProducto");' ><br>
        </form><br>
        <table class="table table-striped" style="margin-top:20px">
            <thead>
                <tr><th style="display:none" >pk</th>
                    <th class="table-head" id="Producto-Titulo-Nombre">Producto</th>
                    <th class="table-head" id="Producto-Titulo-Descripcion">Descripci&oacuten</th>
                    <th class="table-head" id="Producto-Titulo-TipoProducto">T.Producto</th>
                    <!--<th class="table-head" id="CargaStock-Categoria">Categoria</th>-->
                    <th class="table-head" id="Producto-Titulo-Cantidad">Cant.</th>
                    <th class="table-head" id="Producto-Titulo-Precio">$</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaProducto" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for producto in productos %}

        <tr>        
            <td id="Producto-Nombre">{{producto.getNombre}}</td>
            <td id="Producto-Descripcion">{{producto.getDescripcion}}</td>
            <td id="Producto-TipoProducto">{{producto.getTipoProducto}}</td>
            <!-- <td id="Producto-Categoria">como se vende</td> -->
            <td id="Producto-Cantidad">{{producto.getCantidad}}</td>
            <td id="Producto-Precio">{{producto.getPrecio}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}