{% extends "base.html" %}

{% block ayuda %}
  ayudaListarPDF()
{% endblock %}

{% block cabecera %}
    Listado de Productos
    <script language="javascript" type="text/javascript" src="/static/js/producto.js"></script>
        
{% endblock %}

{% block mensaje %}
<button onClick="imprimirPDF()" class="btn btn-success" data-toggle="modal"><i class="icon-print icon-white"></i> Imprimir PDF 
<script type="text/javascript">limpiarCampo();</script>
</button>

<button onClick="descargarEstadisticas()" class="btn btn-primary" data-toggle="modal"><i class="icon-download-alt icon-white"></i> Descargar Estad&iacutesticas </button>

{% endblock %}


{% block contenedor %}

    <div id="CabeceraLDTablas">
        <form class="navbar-search pull-left" style="padding-left:20px">
            <input id="filtro" type="text" class="search-query" style="height:27px" placeholder="Nombre o Descripción" onKeyUp='buscar(this.value,"tablaProducto");' ><br>
        </form>
        <div id="depoPk" style="display:none">{{deposito.pk}}</div>
        <select style="margin-top:5px; margin-left:10px" onChange="listarConDepo(this.value)" value={{depo}}>
            <option value="ALL"> Mostrar Todos</option>
            {% for deposito in depositos%}
                <option value={{deposito.pk}}> {{deposito.direccion}}</option>
            {% endfor %}
        </select>
        <div id="depositoListado">{{deposito}}</div>

        <table class="table table-striped" style="margin-top:-5px">
            <thead>
                <tr><th style="display:none" >pk</th>
                    <th class="table-head" id="Producto-Titulo-Nombre">Producto</th>
                    <th class="table-head" id="Producto-Titulo-Descripcion">Descripci&oacuten</th>
                    <th class="table-head" id="Producto-Titulo-TipoProducto">T.Producto</th>
                    <th class="table-head" id="Producto-Titulo-Cantidad">Cant.</th>
                    <th class="table-head" id="Producto-Titulo-Precio">$</th>
                </tr>    
            </thead>
        </table>
    </div>


<div id="ContenedorTabla">
<table id="tablaProducto" cellpadding="0" cellspacing="0" class="table table-striped">
    </thead>
    <tbody>
        {% for stock in stocks %}

        <tr onmouseover='mostrarDescripcion("{{stock.deposito.direccion}}");'>
            <td id="Producto-Nombre">{{stock.getProducto.getNombre}}</td>
            <td id="Producto-Descripcion">{{stock.getProducto.getDescripcion}}</td>
            <td id="Producto-TipoProducto">{{stock.getProducto.getTipoProducto}}</td>
            <td id="Producto-Cantidad">{{stock.getDisponibles}}</td>
            <td id="Producto-Precio">{{stock.getProducto.getPrecio}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}